@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar {
  background-color: #283e4a;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-toggler.custom-small {
  padding: 0.2rem 0.4rem;
  width: 36px;
  /* más estrecho */
  height: 36px;
  /* más bajito */
  border-width: 1px;
  /* borde más fino */
}

.navbar-toggler.custom-small:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  /* sombra de foco más sutil */
}

.navbar-toggler-icon {
  width: 20px;
}

.navbar img {
  height: 20px;
}

.wrapper-content {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#box {
  color: rgb(39, 58, 85);
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

#hc-rect1,
#hc-rect2,
#hc-rect3 {
  height: 100%;
}

.highcharts-background {
  fill: transparent;
}

#charts {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px 20px 20px;
}

.shadow-col {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 8px;
  background: transparent;
  overflow: hidden;
  margin: 0px 5px 0px 5px;
}

#header-bar {
  min-height: 40px;
}

#box-info-date {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}

#box-info-prob {
  padding: 2px 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  /* sutil, puedes quitarlo si lo quieres 100% transparente */
}